<p>
<h2>Let's add a new person</h2>
<form [control-group]="form">
  <div class="form-group"
       [class.has-success]="form.controls.name.valid"
       [class.has-error]="! form.controls.name.valid">
    <input type="text" control="name" />
  </div>
  <div class="form-group"
       [class.has-success]="form.controls.email.valid"
       [class.has-error]="! form.controls.email.valid">
    <input type="text" control="email" />
  </div>
  <button type="button" (click)="saveUser()">Save</button>
</form>
</p>